---
language: python
python: "2.7"

sudo: required
dist: trusty

addons:
  hosts:
    - riak-test

install:
  - sudo apt-get install -y software-properties-common python-software-properties
  - sudo add-apt-repository -y ppa:ansible/ansible
  - sudo apt-get update -y
  - sudo apt-get install -y ansible
  - echo 'riak-test' | sudo tee -a /etc/ansible/hosts

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path and log file path
  - touch ansible.log && { printf "[defaults]\nroles_path=../\nlog_path=ansible.log" > ansible.cfg; }

env:
  - ANSIBLE_HOST_KEY_CHECKING=False

script:
  - ansible-playbook tests/test.yml -v
  - >
    ansible-playbook tests/test.yml -v
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

after_failure:
  - sudo tail -n 100 /var/log/syslog
  - ls -l /var/log/riak
  - ls /var/log/riak/error.log* && cat $(ls -tr /var/log/riak/error.log*)
  - ls /var/log/riak/solr.log* && cat $(ls -tr /var/log/riak/solr.log*)
  - cat ansible.log

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: ZtgcjTxhTxrzWW6MIHLRtucW/BMm42RKS3nGRtSfgER9rx7oJ0Y9gOYkh1FM0GsM7Z11Q/iDhWs/8WTccAV0PrMZ6KHaq54wGmfYyqwPM4YreUwQ87PnOW4wZbl0TJTeWutasEwZvnVJ8VEyyQcS2PHt0zlsENn0XWvobvaZ+FM=
